* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes fadeAndMove {
  0% {
    opacity: 0;
    left: 100px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.row, .column {
  display: flex;
}

.row {
  /* flex-wrap: wrap; */
  width: 100%;
}

.column {
  flex-direction: column;
  margin: 10px;
}

.zero-margin {
  margin: 0;
}

form {
  position: relative;
  /* animation: fadeAndMove .5s ease; */
  padding: 20px;
  background-color: #fed7d9;
  box-shadow: 0px 5px 14px -2px darkgrey;
}

label {
  font-size: 16px;
  color: black;
}

input {
  padding: 10px;
  margin: 10px auto;
}

button {
  -webkit-appearance: none;
  border: none;
  background-color: rgb(225, 43, 152);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  margin: 0 10px 10px;
  width: 100%;
  color: white;
  transition: color .1s linear, background-color .1s linear;
}

button:hover {
  color: rgb(225, 43, 152);
  background-color: white;
}

input, button:active, button:focus {
  border: none;
  outline: none;
}

ul {
  padding: 0;
}

li {
  list-style: circle;
}

#friend-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

#friend-list .row {
  justify-content: space-around;
}

.friend {
  font-size: 15px;
  width: 100%;
}

.delete-friend {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  line-height: 0px;
}

/* #friend-list .row span {

} */
